doctype html

html

	include ./includes/head.jade

	body

		.wrapper
			.header
				.logo
					h1 Juan Carlos Talavera
					p Diseño gráfico / Web
				.nav
					ul
						li
							a(bio.html) BIO 
			// ACA TERMINA EL HEADER

			.laburo
				.intro
				p.
					Hago diseño gráfico, con énfasis en diseño de sitios web. La mayor parte de lo que hice en a&ntilde;os recientes fue trabajando para <a href="http://www.chena.com/" target="_blank">Chena Ventures</a>. Ahora trabajo por mi cuenta. Para más datos personales, por favor <a href="bio.html">pase por aquí</a>.
				p. 
					Lo que sigue es una selecci&oacute;n, ordenada de manera aproximadamente cronol&oacute;gica, de trabajo reciente.
				// ACA TERMINA LA INTRO, Y DESPUES DE ESTO EMPIEZAN LOS LABUROS

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/cardinal.html">Radio Cardinal</a>
						p El sitio web de la radio
					.thumbnail-gigante
						a(href="trabajo/cardinal.html")
							img(src="images/cardinal-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/club.html">Club.com.py</a>
						p Un sitio para conocer gente
					.thumbnail-gigante
						a(href="trabajo/club.html")
							img(src="images/club-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/clasificados.html">Clasificados.com</a>
						p Sitio de clasificados basado en Clasipar, pero apuntando al mercado latinoamericano.
					.thumbnail-gigante
						a(href="trabajo/clasificados.html")
							img(src="images/clasificados-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/paraguay.html">Paraguay.com</a>
						p Noticias de Paraguay y el mundo
					.thumbnail-gigante
						a(href="trabajo/paraguay.html")
							img(src="images/paraguay-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/prodominios.html">Prodominios</a>
						p Registro y administración de dominios
					.thumbnail-gigante
						a(href="trabajo/prodominios.html")
							img(src="images/prodominios-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/viajes.html">Viajes.com</a>
						p El esqueleto de una idea interesante que no llegó a ver la luz del día.
					.thumbnail-gigante
						a(href="trabajo/viajes.html")
							img(src="images/viajes-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/yagua.html">Yagua.com</a>
						p Directorio comercial
					.thumbnail-gigante
						a(href="trabajo/yagua.html")
							img(src="images/yagua-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/chena.html">Chena Ventures</a>
						p El sitio de la empresa
					.thumbnail-gigante
						a(href="trabajo/chena.html")
							img(src="images/chena-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/ppt-clasificados.html">Presentación Clasificados.com</a>
						p Y si, a veces hay que hacer un Powerpoint.
					.thumbnail-gigante
						a(href="trabajo/ppt-clasificados.html")
							img(src="images/clasificados-ppt-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/planeta-peliculas-gratis.html">Planeta Películas Gratis</a>
						p Sitio para ver películas online
					.thumbnail-gigante
						a(href="trabajo/planeta-peliculas-gratis.html")
							img(src="images/planeta-peliculas-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/mundo.html">Mundo.com</a>
						p Idea para un sitio que nunca fue
					.thumbnail-gigante
						a(href="trabajo/mundo.html")
							img(src="images/mundo-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/gratis-musica.html">Gratis Música</a>
						p Sitio con letras de canciones
					.thumbnail-gigante
						a(href="trabajo/gratis-musica.html")
							img(src="images/gratis-musica-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/namoro.html">Namoro.com</a>
						p Hacíamos Clasipar, hacíamos Club, la progresión lógica era combinar las dos ideas en una
					.thumbnail-gigante
						a(href="trabajo/namoro.html")
							img(src="images/namoro-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/logotipos.html">Logotipos</a>
						p Breve pero emotiva selección de logos
					.thumbnail-gigante
						a(href="trabajo/logotipos.html")
							img(src="images/logotipos-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 <a href="trabajo/varios.html">Gráficos varios</a>
						p Todo lo demás
					.thumbnail-gigante
						a(href="trabajo/varios.html")
							img(src="images/varios-thumbnail.gif")

				.modulo
					.nombre-y-descripcion
						h2 Textos
						p Escribí algunas cosas para Ejempla.
					.links-a-textos
						ul
							li
								a(href="http://ejempla.com/cultura/la-fabrica-de-links-vol-i" title="La fábrica de links Vol. I — Ejempla" target="_blank") La fábrica de Links, vol 1
							li
								a(href="http://ejempla.com/actualidad/la-fabrica-de-links-vol-ii" title="La fábrica de links Vol. II — Ejempla" target="_blank") La fábrica de Links, vol 2
							li
								a(href="http://ejempla.com/actualidad/india-y-la-eleccion-de-los-35-dias" target="_blank") La elección más grande del mundo

							li
								a(href="http://ejempla.com/futuro/cita-con-un-cometa" target="_blank") Cita con un cometa

							li
								a(href="http://ejempla.com/ideas/trabajar-mejor-para-trabajar-menos" target="_blank") Trabajar mejor para trabajar menos

							li
								a(href="https://ejempla.com/actualidad/enemigos-intimos" target="_blank") Enemigos íntimos	

							li
								a(href="https://ejempla.com/actualidad/y-si-nos-indignamos-cuando-matan-a-2000-negros" target="_blank") Boko Haram y la indignación selectiva	

							li
								a(href="https://ejempla.com/vida/como-enamorarte-de-cualquiera" target="_blank") Una receta para enamorarse de cualquiera			

							li
								a(href="https://ejempla.com/negocios/un-consejo-para-triunfar-en-los-negocios" target="_blank") Un consejo para triunfar en los negocios: no aceptes consejos de nadie.	

			.contactos
				p.
					Para consultas, pedidos de presupuesto o dudas de cualquier tipo excepto existenciales, por favor comuníquese via <a href="mailto:juancatalavera@gmail.com?Subject=Consulta" target="_top">e-mail</a>. 