doctype html

html

	include ../includes/head.jade

	body
		.wrapper
			include ../includes/header.jade
		
			.laburo
				.columna-detalle-laburos
					.detalle-laburo
						.actividades
							span.act Diseño
						h2 Clave de Red
						p Diseño de logotipo y cover page para Facebook - Twitter. 
					
					.modulo-imagen-descripcion
						img(src="../images/clave-de-red.jpg", alt="")
						p El logotipo y el cover de page de Facebook, con un detalle de como se ve en Facebook más abajo. Clave de red era un sitio con contenido viral, así que la idea era hacer algo divertido. El logo no es precisamente hilarante, pero me gusta como quedó el collage para FB, como un mini-compendio de memes.

				.columna-nav-laburos
					include ../includes/nav-laburos.jade
				
			include ../includes/contactos.jade
