doctype html

html

	include ../includes/head-trabajos.jade

	body
		.wrapper
			include ../includes/header.jade
		
			.laburo
				.columna-detalle-laburos
					.detalle-laburo
						.actividades
							span.act Diseño
							span.act HTML / CSS
						h2 Club.com.py
						p Este es probablemente el sitio más complejo que diseñé alguna vez, teniendo en cuenta la cantidad y complejidad de las interacciones posibles, no sólo de los usuarios con el sitio sino de usuarios entre si.
					
					.modulo-imagen-descripcion
						img(src="../images/club-1.jpg", alt="")
						p Así se veia el sitio cuando me pidieron que lo rediseñe. No se veia tan mal, quizas un poco demasiado noventoso (esto fue en el 2010), pero en cuanto a funcionalidad había mucho que mejorar.

					.modulo-imagen-descripcion
						img(src="../images/club-3.jpg", alt="")
						p Una vez definida aproximadamente la estructura del sitio, empecé por lo primero: el logo. El anterior no era feo, pero esta era una buena oportunidad para cambiarlo y renovar toda la identidad. Después de algunas idas y vueltas, esto es lo que quedó.

					.modulo-imagen-descripcion
						img(src="../images/club-5.jpg", alt="")
						p Con un logo más o menos definido, empecé a acomodar las cosas.

					.modulo-imagen-descripcion
						img(src="../images/club-final.jpg", alt="")
						p Alguien propuso como slogan "Encontrá tu media naranja", y tomando eso como punto de partida se decidió rediseñar el logo. El diseño final lo hizo <a href="https://www.facebook.com/jose.pedersen.7" target="_blank">José</a>. Ya con todas las piezas en su lugar, este fue el resultado.

					.modulo-imagen-descripcion
						img(src="../images/club-6.jpg", alt="")
						p A pesar de como acabó el sitio (resumen: se empezó a cobrar, la gente se empezó a quejar y después a dejar de usarlo, se vendió a Vierci, y murió), siempre fue muy gratificante trabajar en el. Es lindo trabajar en algo que sólo usa un montón de gente sino que además es útil para algo. Después del lanzamiento del sitio, y durante mucho tiempo después, continuamos experimentando, agregando features, mejorando, cambiando, optimizando. Estos son algunos retazos gráficos de esos experimentos.

				.columna-nav-laburos
					include ../includes/nav-laburos.jade

			include ../includes/contactos.jade
