doctype html

html

	include ../includes/head-trabajos.jade

	body
		.wrapper
			include ../includes/header.jade
		
			.laburo
				.columna-detalle-laburos
					.detalle-laburo
						.actividades
							span.act Diseño
							span.act HTML / CSS
						h2 Grátis Música
						p Existen ciertas categorías de sitio que, debido a la naturaleza cíclica del trabajo en Chena Ventures, hice una y otra vez a través de los años, cambiando apenas los nombres, logos y colores. Por ejemplo: sitios de clasificados, sitios de juegos, sitios para ver películas online, sitios con letras de canciones. Este es un ejemplo, de los más presentables, de esta última categoría.
					
					.modulo-imagen-descripcion
						img(src="../images/updt-gratis-musica.jpg", alt="")
						p La idea era hacer algo sencillo, ordenado, legible y sobrio. Creo que el resultado fue aceptable, aunque claramente estaría mejor sin todos esos banners. Terminé usando el mismo diseño para otro dominio (ya no recuerdo cual).
						
				.columna-nav-laburos
					include ../includes/nav-laburos.jade
									
			include ../includes/contactos.jade
