doctype html

html

	include ../includes/head-trabajos.jade

	body
		.wrapper
			include ../includes/header.jade
		
			.laburo
				.columna-detalle-laburos
					.detalle-laburo
						.actividades
							span.act Diseño
						h2 Presentación en Powerpoint para Clasificados.com
						p No sólo de web vive el hombre. En este caso, me pidieron que diseñe una presentación en Powerpoint sobre nuestro sitio de Clasificados.
					
					.modulo-imagen-descripcion
						img(src="../images/updt-clasificados-powerpoint.jpg", alt="")
						p Un par de slides de muestra. El sitio terminó vendiendose, así que supongo que la presentación fue un éxito. Mentira, no tengo idea de si esto tuvo algo que ver. Pero suena bien.
				
				.columna-nav-laburos
					include ../includes/nav-laburos.jade
				
			include ../includes/contactos.jade
