doctype html

html

	include ../includes/head.jade

	body
		.wrapper
			include ../includes/header.jade
		
			.laburo
				.columna-detalle-laburos
					.detalle-laburo
						.actividades
							span.act Diseño
							span.act HTML / CSS
						h2 Micrositios para tarjetas del BBVA
						p Para todo lo que sea el BBVA, mi cliente es <a href="http://www.roshka.com">Roshka</a>. Trabajando en conjunto con ellos, y con Ojo de Pez (la agencia del banco) para algunas cosas de diseño, la idea era desarrollar un par de micrositios ("Universos" y "Experience") para dar a conocer y promocionar los beneficios que ofrecen las tarjetas del banco.
					
					.modulo-imagen-descripcion
						img(src="../images/bbva-universos-propuesta.jpg", alt="")
						p Esta es la primera propuesta que presenté para Universos. No fue aceptada porque la gente del banco buscaba algo "menos cuadrado". Resultó que menos cuadrado quería decir más bien menos cargado, imágenes más grandes, más espacio negativo, una onda ligeramente más minimalista. Tenía sentido 
			
					.modulo-imagen-descripcion
						img(src="../images/bbva-universos-final.jpg", alt="")
						p Este fue el diseño final aprobado. El collage grande del centro fue diseñado por Ojo de Pez, al igual que los distintos iconos (para las secciones de gourmet, design y relax) que aparecen más abajo en la página.
			
					.modulo-imagen-descripcion
						img(src="../images/bbva-universos-detalle.jpg", alt="")
						p Detalle de páginas interiores
					
					.modulo-imagen-descripcion
						img(src="../images/bbva-experience-final.jpg", alt="")
						p Este es el diseño aprobado para Experience, el otro micrositio. Los íconos utilizados en el collage del medio fueron diseñados por Ojo de Pez. Una versión de este sitio todavía sobrevive (con bastantes cambios) en <a href="https://www.beneficiosbbva.com.py/experience/">esta dirección</a>.
						
				.columna-nav-laburos
					include ../includes/nav-laburos.jade
							
			include ../includes/contactos.jade
