doctype html

html

	include ../includes/head.jade

	body
		.wrapper
			include ../includes/header.jade
		
			.laburo
				.columna-detalle-laburos
					.detalle-laburo
						.actividades
							span.act Diseño
							span.act HTML / CSS
						h2 Yagua.com
						p La intención con el nuevo Yagua era desarrollar un directorio comercial accesible y bien organizado, que te permitiera encontrar desde un plomero a un delivery de comida china con la menor fricción posible. Algo como un sitio de páginas amarillas, pero con más onda.
					
					.modulo-imagen-descripcion
						img(src="../images/yagua-viejo.gif", alt="")
						p Esto era el viejo Yagua. Esencialmente un directorio de sitios webs nacionales mezclado con noticias, foros, y un poco de todo.

					.modulo-imagen-descripcion
						img(src="../images/yagua-1.jpg", alt="")
						p Después de limpiar y simplificar un poquito el logo, ordené un poco las categorías, probamos distintos colores, layouts, etc.

					.modulo-imagen-descripcion
						img(src="../images/yagua-3.jpg", alt="")
						p De todas las combinaciones que se probaron, esta es lejos mi favorita. No es la que quedó.

					.modulo-imagen-descripcion
						img(src="../images/yagua-5.jpg", alt="")
						p Modelo de página interior en el mismo estilo que el diseño previo.

					.modulo-imagen-descripcion
						img(src="../images/yagua-final.jpg", alt="")
						p El diseño final. El sitio se vendió al grupo Vierci como parte de la red paraguay.com.
				
				.columna-nav-laburos
					include ../includes/nav-laburos.jade

			include ../includes/contactos.jade
