.contactos
  p.
    Para consultas, pedidos de presupuesto o dudas de cualquier tipo excepto existenciales, por favor pongase en contacto via <a href="mailto:juancatalavera@gmail.com?Subject=Consulta" target="_top">e-mail.</a> 
