.modulo
	.nombre-y-descripcion
		block nombre
			h2 <a href="trabajo/cardinal.html">Radio Cardinal</a>
		block descripcion
			p El sitio web de la radio
	.thumbnail-gigante
		block link
			a(href="trabajo/cardinal.html")
		block imagen
			img(src="images/cardinal-thumbnail.gif")