h3 Acceso rápido
ul
	li
		a(href="micrositios-bbva.html") Micrositios BBVA
	li
		a(href="clave.html") Clave de red
	li
		a(href="tarjetas-bbva.html") Tarjetas BBVA
	li
		a(href="maraton-brasilsul.html") Maratón BrasilSul
	li
		a(href="presentacion-libro.html") Presentación & invitación
	li
		a(href="namoro.html") Namoro.com
	li
		a(href="gratis-musica.html") Gratis Música
	li
		a(href="mundo.html") Mundo.com
	li
		a(href="peliculas-gratis.html") Planeta películas gratis
	li
		a(href="ppt-clasificados.html") Presentación Clasificados.com
	li
		a(href="chena.html") Chena Ventures
	li
		a(href="yagua.html") Yagua.com
	li
		a(href="viajes.html") Viajes.com
	li
		a(href="prodominios.html") Prodominios
	li
		a(href="paraguay.html") Paraguay.com
	li
		a(href="clasificados.html") Clasificados.com
	li
		a(href="club.html") Club.com.py
	li
		a(href="cardinal.html") Radio Cardinal
	li
		a(href="varios.html") Todo lo demás
